In [1]:
print("Hi Captain")

Hi Captain

In [2]:
x = 5.65

In [3]:
print(x)

5.65

In [5]:
type(x)

float

In [4]:
y = "MyCaptain"

In [5]:
type(y)

str

In [6]:
a = 5

In [7]:
b = 8

In [10]:
c=b>a
type(c)

bool

In [12]:
str_1 = "MyCaptain"

In [13]:
print(str_1)

MyCaptain

In [14]:
print(str_1[1])

y

In [15]:
print(str_1[2:5])  >> slicing 2-5(excluded), 2,3,4

Cap

In [16]:
print(str_1[2:])

Captain

In [14]:
print(str_1[-1])

n

In [15]:
print(str_1[-9:])

MyCaptain

In [19]:
print(str_1[-2:])

in

In [16]:
print("MyCaptain"[::])

MyCaptain

In [42]:
print(str_1[0:9:1]) 
#start, end, step

MyCaptain

In [40]:
print(str_1)

MyCaptain

In [25]:
print(str_1[0:6] + str_1[6].replace("a","z") + str_1[7:]) 

#replace(letterA, letterB, no.)

MyCaptzin

In [28]:
list_1 = ["apple", "red", "fruit"]

In [29]:
print(list_1)

['apple', 'red', 'fruit']

In [31]:
list_1.insert(2,"healthy")
print(list_1)

['apple', 'red', 'healthy', 'healthy', 'fruit']

In [32]:
list_1.append("doctor")

In [33]:
print(list_1)

['apple', 'red', 'healthy', 'healthy', 'fruit', 'doctor']

In [34]:
del list_1[0]

In [53]:
print(list_1)

['red', 'healthy', 'healthy', 'fruit', 'doctor']

In [54]:
list_1.remove("red")

In [35]:
print(list_1)

['red', 'healthy', 'healthy', 'fruit', 'doctor']

In [40]:
list_1.insert(2,"doctor")

In [41]:
print(list_1)

['red', 'healthy', 'doctor', 'doctor', 'healthy', 'fruit']

In [42]:
list_1.remove("doctor")

In [43]:
print(list_1)

['red', 'healthy', 'doctor', 'healthy', 'fruit']

In [44]:
del list_1[1:4]

In [45]:
print(list_1)
list_1 = ["apple", "red", "fruit"]

['red', 'fruit']

In [62]:
print(list_1[0:2])

['apple', 'red']

In [46]:
print(list_1[::])

['apple', 'red', 'fruit']

In [47]:
print(list_1[::-1])

['fruit', 'red', 'apple']

In [9]:
tuple_1 = ("apple", "red", "fruit", "fruit")

In [2]:
type(tuple_1)

tuple

In [10]:
print(tuple_1)

('apple', 'red', 'fruit', 'fruit')

In [5]:
del tuple_1[0]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
del tuple_1

In [7]:
print(tuple_1)

NameError: name 'tuple_1' is not defined

In [11]:
a = ('2',)

In [12]:
type(a)

tuple

In [13]:
b = 'z'
type(b)

str

In [14]:
n_t = a + (b,)

In [15]:
print(n_t)

('2', 'z')

In [16]:
type(n_t)

tuple

In [17]:
tuple_1 = ("apple", "red", "fruit", "red")

In [22]:
print(tuple_1)

('apple', 'red', 'fruit', 'red')

In [23]:
tset = {"apple", "red", "fruit","red"}

In [24]:
print(tset)

{'fruit', 'apple', 'red'}

In [25]:
print(tset)

{'fruit', 'apple', 'red'}

In [26]:
tset.add("orange")

In [27]:
print(tset)

{'orange', 'fruit', 'apple', 'red'}

In [30]:
tset.add("watermelon")

In [31]:
print(tset)

{'orange', 'fruit', 'apple', 'red', 'watermelon'}

In [32]:
tset.remove("apple")

In [33]:
print(tset)

{'orange', 'fruit', 'red', 'watermelon'}

In [34]:
del tset

In [35]:
print(tset)

NameError: name 'tset' is not defined

In [36]:
t_dict = {"class" : "Tuesday", "workshop" : "Python", "year" : "2021", "year" : "2021"}

In [38]:
print(t_dict)

{'class': 'Tuesday', 'workshop': 'Python', 'year': '2021'}

In [39]:
t_dict["class"] = "Friday"

In [40]:
print(t_dict)

{'class': 'Friday', 'workshop': 'Python', 'year': '2021'}

In [66]:
t_dict["Captain"] = "Harini"

In [67]:
print(t_dict)

{'class': 'Tuesday', 'workshop': 'Python', 'year': '2021', 'Captain': 'Harini'}

In [42]:
del t_dict["class"]

In [44]:
t_dict.pop("workshop")

'Python'

In [45]:
print(t_dict)

{'year': '2021'}

In [46]:
del t_dict

In [47]:
print(t_dict)

NameError: name 't_dict' is not defined

In [ ]:
ENTERTAINMENT
key? e=3, n=2, t, r i, m, a